.app {
  background-color: var(--color-theme-background-color);
}

h1,
h2,
h3,
h4 {
  font-family: 'Bebas Neue', cursive;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: var(--size-font-medium);
  line-height: 1.6em;
  letter-spacing: 2px;
  text-align: justify;
}

.hero-header {
  color: var(--color-theme-text-color);
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  background: var(--color-theme-secondary-base);
  background: linear-gradient(
    270deg,
    var(--color-theme-secondary-dark) 0%,
    var(--color-theme-primary-base) 100%
  );
}

.hero-header h1 {
  color: var(--color-theme-primary-text-color);
  font-size: var(--size-font-xxlarge);
  position: relative;
  z-index: 2;
  transform: translateY(-100px);
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

.hero-header .blob {
  border-radius: 17% 42% 47% 46% / 60% 33% 60% 40%;
  height: 400px;
  width: 400px;
  position: absolute;
  right: 10%;
  top: 20%;
  background: linear-gradient(
    90deg,
    var(--color-theme-secondary-dark) 0%,
    var(--color-theme-primary-base) 100%
  );
  z-index: 0;
}

.wave-container {
  bottom: -5px;
  left: 0;
  width: 100vw;
  position: absolute;
  z-index: 0;
}

.wave {
  fill: var(--color-theme-primary-base);
}

.linear-gradient-0 {
  stop-color: var(--color-theme-secondary-dark);
}

.linear-gradient-1 {
  stop-color: var(--color-theme-primary-base);
}

.dark-mode-switcher {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  -webkit-appearance: none;
  position: absolute;
  top: 32px;
  right: 32px;
  cursor: pointer;
}

.dark-mode-switcher svg {
  width: 32px;
}

.dark-mode-switcher svg path {
  fill: white;
}

main {
  color: var(--color-theme-text-color);
  text-align: center;
  padding: 64px 32px;
  display: flex;
  justify-content: center;
}

main h1 {
  font-size: var(--size-font-xlarge);
  color: var(--color-theme-primary-base);
}

.content {
  max-width: 1200px;
}
