.App {
  text-align: center;
  background-color: var(--color-theme-background-color);
  color: var(--color-theme-text-color);
  min-height: 100vh;
  min-width: 100%;
}

.App-header {
  width: 100%;
  background-color: var(--color-theme-primary-base);
  color: var(--color-theme-primary-text-color);
  padding: 16px 0;
}

h1 {
  color: var(--color-theme-primary-base);
}

.App-btn {
  background: var(--color-theme-primary-dark);
  color: var(--color-theme-primary-text-color);
  border: none;
  outline: none;
  padding: 8px 16px;
  border-radius: 4px;
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 4px 16px var(--color-theme-primary-dark);
  transition: background 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.App-btn:hover {
  background: var(--color-theme-primary-base);
  box-shadow: 0 4px 16px var(--color-theme-primary-base);
}
